

h1{
  background-color: white;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 50px;
  font-style: italic;
}

h2{
  font-size: 30px;
  text-align: center;
}

.input-form{
  text-align: center;
  padding: 5px;
  margin: 5px;
}

label{
  font-size: 20px;
}

.add-item{
  padding: 5px;
  margin-right: 45%;
  margin-left: 45%;
  background-color: #ffcd63;
}

input[type=text]{
    width: 30%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.list{
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 22%;
  margin-right: 22%;
  padding: 10px;
}

td{
  padding: 5px;
  margin-right: 10px;

}

thead{
  font-size: 16px;

}

.ui-datepicker {
   background: #f4c242;
   border: 1px solid #555;
   color: black;
}

.ui-tooltip {
   background: white;
   border: 1px solid #555;
   color: black;
   margin-left: 60%;
   width: 250px;
}


tr:nth-child(even){
  background-color: #dddddd;
}

.img{
  text-align: center;
}

label {
  display: inline-block;
  width: 10em;
}

.ui-helper-hidden-accessible{
    display: none;
}
