

h1{
  background-color: white;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 50px;
  font-style: italic;
}

h2{
  font-size: 30px;
  text-align: center;
}

.input-form{
  text-align: center;
  padding: 5px;
  margin: 5px;
  background-color: #f9da7a;
}

label{
  font-size: 20px;
}

.add-item{
  padding: 5px;
  margin-right: 45%;
  margin-left: 45%;
}

input[type=text]{
    width: 30%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

.list{
  margin-top: 20px;
  margin-bottom: 100px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px;

}

td{
  padding: 5px;
  margin-right: 10px;

}

thead{
  font-size: 16px;

}

tr:nth-child(even){
    background-color: #dddddd;
}

